<mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let note of notes">
      <mat-expansion-panel-header>
        {{ note.title }}
      </mat-expansion-panel-header>
      <p>{{ note.description }}</p>
      <mat-action-row>
        <!-- <a mat-button color="primary" [routerLink]="['/edit', task.id]">Edit</a>
        <button mat-button color="warn" (click)="onDelete(task.id)">Delete</button> -->
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
<p class="info-text mat-body-1" *ngIf="notes.length <= 0">No notes added yet!</p>